.p-ppp.Flex264 {
display: flex;
column-gap: 40px;
justify-content: space-between;
}
.p-ppp.Flex265 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 13px;
width: 40%;
}
.p-ppp.Flex271 {
display: flex;
column-gap: 8px;
}
.p-ppp.Flex266 {
display: flex;
}
.p-ppp.Flex267 {
display: flex;
}
.p-ppp.Flex268 {
display: flex;
}
.p-ppp.Flex269 {
display: flex;
}
.p-ppp.Flex270 {
display: flex;
}
.p-ppp.Flex274 {
display: flex;
}
.p-ppp.Flex275 {
display: flex;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
padding-left: 5px;
padding-right: 5px;
}
.p-ppp.Flex276 {
display: flex;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
padding-left: 5px;
padding-right: 5px;
}
.p-ppp.Flex284 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 20px;
}
.p-ppp.Flex283 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-ppp.Flex281 {
display: flex;
column-gap: 20px;
}
.p-ppp.Flex282 {
display: flex;
column-gap: 20px;
}
.p-ppp.Image102 {
;
}
.p-ppp.TextBox243 {
font-family: DM Sans;
font-weight: 400;
color: #6a6868;
width: 100%;
}
.p-ppp.Image103 {
width: 30px;
height: 30px;
}
.p-ppp.Image104 {
width: 30px;
height: 30px;
}
.p-ppp.Image105 {
width: 30px;
height: 30px;
}
.p-ppp.Image106 {
width: 30px;
height: 30px;
}
.p-ppp.Image107 {
width: 30px;
height: 30px;
}
.p-ppp.TextBox245 {
font-size: 20px;
font-family: DM Sans;
font-weight: 500;
padding-right: 40px;
padding-bottom: 20px;
}
.p-ppp.TextBox246 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox248 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox249 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox250 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox251 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox252 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox253 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox254 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox255 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox256 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox257 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox258 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox259 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox260 {
font-family: DM Sans;
color: #7f7c7c;
font-size: 16px;
font-weight: 400;
}
.p-ppp.TextBox261 {
font-size: 20px;
font-family: DM Sans;
font-weight: 500;
padding-right: 40px;
padding-bottom: 20px;
}
.p-ppp.TextBox263 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-ppp.Image112 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-ppp.Image113 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-ppp.Image114 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-ppp.Image115 {
width: 145px;
height: 145px;
border-radius: 25px;
}
